<ion-header>
	<ion-navbar>
		<ion-buttons start>
		<button ion-button (click)="onQuitModal()">
			<ion-icon name="close" style="font-weight:bold; font-size:200%;" padding></ion-icon>
		</button>
		</ion-buttons>
		<ion-title text-center class="headerStyle">Notes du {{month}}</ion-title>
	</ion-navbar>

</ion-header>


<ion-content padding class="contentStyle">

	<div *ngIf="feedbacks">
	<ion-card *ngFor="let feedback of feedbacks">
		<ion-card-content no-padding>
			<ion-item text-center>
				<rating [(ngModel)]="feedback.note" readOnly="true"></rating>
			</ion-item>
			<ion-item>
				<div *ngIf="feedback.comment;else noComment">
					<p>{{feedback.comment}}</p>
				</div>
				<ng-template #noComment>
					<p>Aucun commentaire.</p>
				</ng-template>
			</ion-item>
		</ion-card-content>
	</ion-card>
	</div>
	
</ion-content>
