<ion-header>
	<ion-navbar>
		<ion-buttons start>
		<button ion-button menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>
		</ion-buttons>
		<ion-title text-center>Mes évaluations</ion-title>
		<ion-buttons end padding-right>
			<img src="assets/imgs/logo.png" style="width:2em; height:2.5em; padding-top:5px;">
		</ion-buttons>
	</ion-navbar>

</ion-header>


<ion-content padding class="contentStyle">
	
	<ion-grid text-center style="max-width:300px">
		<ion-row>
			<ion-col offset-4>
				<p class="date">{{ date | date:'dd/MM/yyyy' }}</p>
			</ion-col>
			<ion-col>
				<ion-buttons end>
				<button ion-button clear>
					<img src="assets/icon/help.png" style="width:1em; height:1em;" (click)="onHelp()">
				</button>
				</ion-buttons>
			</ion-col>
		</ion-row>
	</ion-grid>
	
	<!-- fetch evaluations possibles from db -->
	<div *ngIf="managers">
	<ion-card margin *ngFor="let manager of managers">
		<ion-card-header text-center>
			{{manager.month}}
		</ion-card-header>
		<ion-card-content no-padding>
			<ion-list>
			<ion-item text-center>
				<img item-start src="assets/imgs/profilePic.png">
				<h2>{{manager.firstName}} {{manager.lastName}}</h2>
				<p>{{manager.description}}</p>
				<rating [(ngModel)]="manager.feedback.note" readOnly="true"></rating>
				<button ion-button color="aymaxLight" (click)="onNoter(manager)">
					<div *ngIf="manager.feedback.id;else editFeedback">
						Modifier
					</div>
					<ng-template #editFeedback>	
						Noter
					</ng-template>
				</button>
			</ion-item>
			</ion-list>
		</ion-card-content>
	</ion-card>
	</div>

</ion-content>
