<ion-header>
	<ion-navbar>
		<ion-buttons start>
		<button ion-button menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>
		</ion-buttons>
		<ion-title text-center class="headerStyle">Mes évaluations</ion-title>
	</ion-navbar>

</ion-header>


<ion-content padding class="contentStyle">
	
	<ion-grid text-center>
		<ion-row>
			<ion-col offset-4>
				<p>{{ date | date:'dd/MM/yyyy' }}</p>
			</ion-col>
			<ion-col>
				<ion-buttons end>
				<button ion-button clear>
					<ion-icon style="color:black;" name="help-circle" (click)="onHelp()"></ion-icon>
				</button>
				</ion-buttons>
			</ion-col>
		</ion-row>
	</ion-grid>
	
	<!-- fetch evaluations possibles from db -->
	<div *ngIf="managers">
	<ion-card *ngFor="let manager of managers">
		<ion-card-header>
			{{manager.month}}
		</ion-card-header>
		<ion-card-content>
			<ion-list no-lines>
			<ion-item>
				<ion-thumbnail item-start><img src="assets/imgs/profilePic.png"></ion-thumbnail>
				<h2>{{manager.firstName}} {{manager.lastName}}</h2>
				<p>{{manager.description}}</p>
				<rating [(ngModel)]="manager.feedback.note" readOnly="true"></rating>
				<button ion-button color="aymaxLight" item-end (click)="onNoter(manager)">
					<div *ngIf="manager.feedback.id;else editFeedback">
						Modifier
					</div>
					<ng-template #editFeedback>	
						Noter
					</ng-template>
				</button>
			</ion-item>
		</ion-list>
		</ion-card-content>
	</ion-card>
	</div>

</ion-content>
