page-evaluations 
{
	.contentStyle {
		background: white !important;
	}
	
	.date {
		color: color($colors, aymaxLight) !important;
		font-size:120%;
		font-weight: bold;
	}
	
	ion-card {
		margin: auto !important;
		margin-top: 5% !important;
		max-width: 400px;
		background: color($colors, lightGray) !important;
		//background: rgba(0, 146, 203, 0.35) !important;
		
		ion-item {
			background: rgba(253,253,253,0) !important;
			margin-top: -5px !important;
			justify-content: center !important;
			
			h2 {
				padding-bottom: 5px;
			}
			p {
				max-width: 150px !important;
				max-height: 50% !important;
				text-align: justify !important;
				-moz-text-align-last: center;
				text-align-last: center;
				white-space: normal;
				margin-left:auto !important;
				margin-right:auto !important;
			}
			
			button {
				font-weight:bold;
				min-width: 70px !important;
				box-shadow: 1px 2px 8px #555;
			}
		}
	}
	
	ion-card-header {
		color: color($colors, aymaxDark) !important;
	}
	
	ion-item > img {
		background: rgba(255, 255, 255, 0.7);
		border-radius:50%;
		box-shadow: 1px 3px 8px #555;
		height: 30%!important;
		width: 30% !important;
		
	}
	
	
	
	ul {
		padding-left: 10px;
		&.rating li {
			margin:-10px;
			background: none;
			color: #EFCE4A;
			ion-icon {
				font-size: 20px;
			}
		}
	}
}
