page-home 
{
	ion-grid {
		height: 80%;
		justify-content: center;
	}
	
	.contentStyle {
		background: color($colors, aymaxDark);
		font-variant: small-caps;
		font-weight: bold;
		font-size: 120%;
		color: color($colors, lightGray);
		
		img {
			width:7em;
			height:7em;
		}
	}
	
	.homeButton {
		padding: 35px;
		margin:5%;
		width:70%;
		color: color($colors, aymaxLight);
		font-weight: bold;
	}
}
